{% extends '::base.html.twig' %}
{% block body %}
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Morning Before</th>
      <th>Morning After</th>
      <th>Afternoon Before</th>
      <th>Afternoon After</th>
      <th>Evening Before</th>
      <th>Evening After</th>
      <th>Night</th>
    </tr>
    </thead>
    <tbody>
    {% for day, values in days %}
    <tr>
      <td>{{ day }}</td>
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.morning_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.morning_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.afternoon_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.afternoon_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.evening_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.evening_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.night} %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
