{% extends '::base.html.twig' %}
{% block body %}
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Morning Before{% endtrans %}</th>
      <th>{% trans %}Morning After{% endtrans %}</th>
      <th>{% trans %}Afternoon Before{% endtrans %}</th>
      <th>{% trans %}Afternoon After{% endtrans %}</th>
      <th>{% trans %}Evening Before{% endtrans %}</th>
      <th>{% trans %}Evening After{% endtrans %}</th>
      <th>{% trans %}Night{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for day, values in days %}
    <tr>
      <td>{{ day }}</td>
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.morning_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.morning_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.afternoon_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.afternoon_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.evening_before} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.evening_after} %}
      {% include 'IlacMainBundle:Graph:daypart.html.twig' with {'event': values.night} %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
