{% extends '::base.html.twig' %}
{% block body %}
<a class="btn btn-lg btn-success" href="{{ path('ilac_main_new') }}" role="button">New</a>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>DateTime</th>
      <th>Level</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for test in glucoTests %}
    <tr>
      <td>{{ test.getCreatedAt|date("Y/m/d H:i") }}</td>
      <td>{{ test.getValue }}</td>
      <td>{{ test.getType }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
